<div class="new">
    <span><a href="/listings/new/new<%=marvelListings[0].category.charAt(0).toUpperCase()%><%=marvelListings[0].category.slice(1)%>">Add marvel shows</a></span>
    <span><a href="/listings/new/new<%=historyListings[0].category.charAt(0).toUpperCase()%><%=historyListings[0].category.slice(1)%>">Add history shows</a></span>
    <span><a href="/listings/new/new<%=popularMovieListings[0].category.charAt(0).toUpperCase()%><%=popularMovieListings[0].category.slice(1)%>">Add popularMovie shows</a></span>
    <span><a href="/listings/new/new<%=comedyListings[0].category.charAt(0).toUpperCase()%><%=comedyListings[0].category.slice(1)%>">Add comedy shows</a></span>
    <span><a href="/listings/new/new<%=kidListings[0].category.charAt(0).toUpperCase()%><%=kidListings[0].category.slice(1)%>">Add kid shows</a></span>
</div>