<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GoStream</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="interface-container">
      <img class="bannerImage" src="<%= listing.imgBanner %>" alt="banner" />
      <div class="info-container">
        <div class="logo-container">
          <img src="<%= listing.logo %>" alt="logo" />
        </div>
        <div class="description-container">
          <div class="year-box">
            <span class="year">2024</span>
            <span class="rated">U/A 13+</span>
            <span class="seasons">5 seasons</span>
          </div>
          <div class="descriptionBox"><%= listing.description %></div>
          <div class="category-box">| <%= listing.category %> |</div>
          <div class="button-box">
            <a href="/listings/<%= category %>/<%= listing._id%>/video"
              ><button class="btn btn-secondary watchBtn">Watch Now</button></a
            >

            <button class="btn btn-secondary watchlist">
              <i class="bi bi-plus-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
